

<div>

    <h3 class="card-title bg-color2 py-3 px-3 rounded-2 text-center">@Model.Title</h3>
    <div class="card-text text-center">@Model.Description</div>
    <div class="card-text text-center">@Model.Price $</div>
    <div><i class="bi bi-person"></i>@Model.User.UserName</div>

</div>
